.user-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--cor-primaria);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 5px;
}
