.login {
  background: url(../../img/login-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;

  align-items: center;
}

.logo {
  max-width: 200px;
  padding: 40px 0;
}

.formField {
  display: flex;
  flex-direction: column;
}
