@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&family=Source+Serif+4:wght@200;500&display=swap");
@import url(./libs/bootstrap/bootstrap.min.css);

:root {
  --cor-primaria: #118acb;
  --cor-secundaria: #263775;
  --cor-terciaria: #7cea9c;
  --cor-quaternaria: #808080;
  --cor-erro: #f97068;
  --cor-black: #333;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.form-control,
.form-select {
  border-radius: 5px !important;
  padding: 15px 30px !important;
  margin-bottom: 10px;
  overflow: hidden;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

.text {
  color: var(--cor-quaternaria);
  font-size: 1.2rem;
  /* margin: 0 0 20px 0; */
}

.btn-primary {
  border-radius: 5px !important;
  background-color: var(--cor-primaria) !important;
  margin: 10px 0 !important;
  padding: 10px 20px !important;
  border: none;
  font-size: 1.2rem;
  transition: 0.3s;
}

.btn-light {
  border-radius: 5px !important;
  margin: 10px 0 !important;
  padding: 15px 20px !important;
  border: none;
  font-size: 1.2rem;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: var(--cor-secundaria);
  transition: 0.3s;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

a:hover,
.btn-primary:hover,
.btn-light:hover {
  opacity: 0.7;
}

p {
  margin: 0;
}

svg {
  padding: 2px;
}

button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

ul {
  margin: 0;
  padding: 0;
}

.error {
  color: var(--cor-erro);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.title {
  font-size: 3rem;
  color: var(--cor-primaria);
  font-weight: 700;
  position: relative;
  z-index: 1;
  font-family: "Source Serif 4", sans-serif;
}

.title::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #ccc;
  position: absolute;
  top: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.main-content {
  width: 85%;
  position: absolute;
  right: 0;
  top: 0;
}

tr,
thead {
  border-color: var(--cor-primaria) !important;
}

thead {
  font-weight: bold;
  color: var(--cor-secundaria);
}

input[type="checkbox"] {
  cursor: pointer;
}

.disabled {
  background-color: none;
  color: var(--cor-quaternaria);
  transition: 0.3s;
  font-size: 1.2rem;
}

.disabled:hover {
  opacity: 0.7;
}

.ocupado .status {
  color: var(--cor-erro);
}

.disponivel .status {
  color: var(--cor-terciaria);
}

label {
  font-size: 1rem;
  color: var(--cor-secundaria);
  font-weight: 600;
}

#login-create label {
  display: none;
}

.modal {
  overflow: visible;
}

.modal-content {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 40rem) {
  .main-content {
    width: 100%;
    position: relative;
  }
}
