@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&family=Source+Serif+4:wght@200;500&display=swap");
@import url(./libs/bootstrap/bootstrap.min.css);

:root {
  --cor-primaria: #118acb;
  --cor-secundaria: #263775;
  --cor-terciaria: #7cea9c;
  --cor-quaternaria: #808080;
  --cor-erro: #f97068;
  --cor-black: #333;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.form-control {
  border-radius: 50px !important;
  padding: 15px !important;
  margin-bottom: 10px;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

.text {
  color: var(--cor-terciaria);
  font-size: 1.2rem;
  margin: 0 0 20px 0;
}

.btn-primary {
  border-radius: 50px !important;
  background-color: var(--cor-primaria) !important;
  margin: 10px 0 !important;
  padding: 5px 20px !important;
  border: none;
  font-size: 1.4rem;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: var(--cor-secundaria);
  transition: 0.3s;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

a:hover {
  opacity: 0.7;
}

p {
  margin: 0;
}

svg {
  padding: 2px;
}

button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

ul {
  margin: 0;
  padding: 0;
}

.error {
  color: var(--cor-erro);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.title {
  font-size: 4rem;
  color: var(--cor-primaria);
  font-weight: 700;
  position: relative;
  z-index: 1;
  font-family: "Source Serif 4", sans-serif;
}

.title::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #ccc;
  position: absolute;
  top: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.main-content {
  width: 85%;
}

tr,
thead {
  border-color: var(--cor-primaria) !important;
}

thead {
  font-weight: bold;
  color: var(--cor-secundaria);
}
